*{
    box-sizing: border-box;
    transition: all ease 1s;
}

a {
    text-decoration: none;
}

body {
    background-color: #c3e4ff;
}

.MapFrame {
    margin: auto;
}

.SRIMap {
    max-width: 1920px;
    width: 100%;
    max-height: 100vh;
    position: relative;
    margin: 0 auto;
}

.SRIMap img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.SRIMap img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pin::before {
    animation: pulse 3s infinite ease-in-out;
    background-color: #dc0028;
    border-radius: 2rem;
    width: 0.5rem;
    height: 0.5rem;
    left: -0.5rem;
    position: absolute;
    content: '';
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.pin span {
   background-color: #fff;
   border: 1px solid #87152a;
   white-space: nowrap;
   position: absolute;
   opacity: 0;

   padding: 0.3rem;
   border-radius: 0.3rem;
   transition: all ease 1s;
   overflow: hidden;
   box-shadow: 0px 0px 2px 0px;
   z-index: 150;
}

        /*

        h5 {
            line-height: 0rem;
            font-size: 0.5rem;
            font-weight: 800;
            font-family: verdana;
            text-transform: capitalize;
            color: #3c3c3c;
        }

        */

h4 {

    font-size: 0.6rem;
    font-weight: 400;
    font-family: verdana;
    text-transform: uppercase;
    color: #87152a;
    line-height: 0.2rem;
}

 h3 {
    text-transform: uppercase;
    line-height: 0.2rem;
    font-size: 0.7rem;
    font-weight: 700;
    font-family: verdana;
    color: #3c3c3c;
}



    .USA {
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: 10;
    }


    .MEXICO {
        position: absolute;
        top: 58%;
        left: 21%;
        z-index: 11;
    }

    .CANADA {
        position: absolute;
        top: 44%;
        left: 16%;
        z-index: 5;
    }

    .IRELAND {
        position: absolute;
        top: 25%;
        left: 46.2%;
        z-index: 9;
    }

    .UK {
        position: absolute;
        top: 25%;
        left: 47.3%;
        z-index: 10;
    }

    .KIRIBATI {
        position: absolute;
        top: 82%;
        left: 22%;
        z-index: 25;
    }

    .ICELAND {
        position: absolute;
        top: 19.5%;
        left: 41%;
        z-index: 5;
    }

    .BAHAMAS {
        position: absolute;
        top: 50.5%;
        left: 27%;
        z-index: 15;
    }

    .GUATEMALA {
        position: absolute;
        top: 58.3%;
        left: 24.8%;
        z-index: 17;
    }

    .ELSALVADOR {
        position: absolute;
        top: 59.3%;
        left: 25%;
        z-index: 18;
    }

    .HONDURAS {
        position: absolute;
        top: 58.5%;
        left: 25.5%;
        z-index: 19;
    }

    .NICARAGUA {
        position: absolute;
        top: 58.5%;
        left: 26.5%;
        z-index: 20;
    }

    .PANAMA {
        position: absolute;
        top: 60%;
        left: 27.5%;
        z-index: 21;
    }

    .COSTARICA {
        position: absolute;
        top: 59.7%;
        left: 26.8%;
        z-index: 20;
    }

    .JAMAICA {
        position: absolute;
        top: 54%;
        left: 27.5%;
        z-index: 20;
    }

    .HAITI {
        position: absolute;
        top: 52.3%;
        left: 28.3%;
        z-index: 25;
    }

    .DOMINICANREPUBLIC {
        position: absolute;
        top: 51.8%;
        left: 29%;
        z-index: 27;
    }

    .SAINTKITTSNEVIS {
        position: absolute;
        top: 51%;
        left: 30.5%;
        z-index: 29;
    }

    .ANTIGUABARBUDA {
        position: absolute;
        top: 51.5%;
        left: 31%;
        z-index: 31;
    }

    .GRENADA {
        position: absolute;
        top: 54%;
        left: 32.5%;
        z-index: 33;
    }

    .SAINTVINCENT {
        position: absolute;
        top: 51.5%;
        left: 32.8%;
        z-index: 34;
    }


    .TRINIDADTOBAGO {
        position: absolute;
        top: 54.5%;
        left: 33%;
        z-index: 34;
    }

    .VENEZUELA {
        position: absolute;
        top: 56.8%;
        left: 31.5%;
        z-index: 37;
    }

    .GUYANA {
        position: absolute;
        top: 56.8%;
        left: 33%;
        z-index: 39;
    }

    .ECUADOR {
        position: absolute;
        top: 64.8%;
        left: 29.2%;
        z-index: 40;
    }

    .PERU {
        position: absolute;
        top: 68%;
        left: 30.5%;
        z-index: 41;
    }

    .SURINAME {
        position: absolute;
        top: 56.8%;
        left: 34%;
        z-index: 42;
    }

    .CHILE {
        position: absolute;
        top: 79%;
        left: 33%;
        z-index: 43;
    }

    .ARGENTINA {
        position: absolute;
        top: 77%;
        left: 34.3%;
        z-index: 44;
    }

    .BRAZIL {
        position: absolute;
        top: 65%;
        left: 36%;
        z-index: 45;
    }

    .PARAGUAY {
        position: absolute;
        top: 71%;
        left: 35%;
        z-index: 45;
    }

    .URUGUAY {
        position: absolute;
        top: 76%;
        left: 36.3%;
        z-index: 46;
    }

    .DENMARK {
        position: absolute;
        top: 23%;
        left: 50%;
        z-index: 55;
    }

    .LITHUANIA {
        position: absolute;
        top: 23.8%;
        left: 54.2%;
        z-index: 56;
    }


    .NETHERLANDS {
        position: absolute;
        top: 24.8%;
        left: 49%;
        z-index: 56;
    }

    .BELGIUM {
        position: absolute;
        top: 25.6%;
        left: 48.6%;
        z-index: 57;
    }

    .GERMANY {
        position: absolute;
        top: 25.5%;
        left: 50.3%;
        z-index: 58;
    }

    .CZECHIA {
        position: absolute;
        top: 26.2%;
        left: 51.8%;
        z-index: 59;
    }

    .POLAND {
        position: absolute;
        top: 25%;
        left: 53%;
        z-index: 60;
    }

    .SLOVAKIA {
        position: absolute;
        top: 27%;
        left: 53.5%;
        z-index: 61;
    }


    .SWEDEN {
        position: absolute;
        top: 20%;
        left: 52%;
        z-index: 57;
    }


    .FINLAND {
        position: absolute;
        top: 19%;
        left: 55%;
        z-index: 58;
    }

    .ESTONIA {
        position: absolute;
        top: 21.8%;
        left: 55.3%;
        z-index: 59;
    }

    .LATVIA {
        position: absolute;
        top: 22.8%;
        left: 54.8%;
        z-index: 59;
    }



    .FRANCE {
        position: absolute;
        top: 27.5%;
        left: 48%;
        z-index: 60;
    }

    .HUNGARY {
        position: absolute;
        top: 28%;
        left: 53%;
        z-index: 60;
    }

    .ROMANIA {
        position: absolute;
        top: 28.8%;
        left: 54.5%;
        z-index: 63;
    }

    .TURKEY {
        position: absolute;
        top: 33%;
        left: 57.5%;
        z-index: 64;
    }

    .ITALY {
        position: absolute;
        top: 30%;
        left: 51%;
        z-index: 63;
    }

    .SLOVENIA {
        position: absolute;
        top: 28.3%;
        left: 51.5%;
        z-index: 62;
    }

    .CROATIA {
        position: absolute;
        top: 28.8%;
        left: 52.2%;
        z-index: 63;
    }


    .MONTENEGRO {
        position: absolute;
        top: 29.8%;
        left: 52.5%;
        z-index: 64;
    }


    .ALBANIA {
        position: absolute;
        top: 31%;
        left: 53%;
        z-index: 65;
    }


    .PORTUGAL {
        position: absolute;
        top: 32.2%;
        left: 45.3%;
        z-index: 65;
    }

    .BOSNIA {
        position: absolute;
        top: 29.8%;
        left: 53.3%;
        z-index: 66;
    }

    .SPAIN {
        position: absolute;
        top: 31.5%;
        left: 46.5%;
        z-index: 66;
    }

    .GREECE {
        position: absolute;
        top: 31.5%;
        left: 54.5%;
        z-index: 67;
    }

    .GEORGIA {
        position: absolute;
        top: 33%;
        left: 60%;
        z-index: 68;
    }

    .AZERBAIJAN {
        position: absolute;
        top: 34%;
        left: 61%;
        z-index: 69;
    }

    .RUSSIA {
        position: absolute;
        top: 33%;
        left: 77%;
        z-index: 69;
    }

    .KAZAKHSTAN {
        position: absolute;
        top: 33%;
        left: 67%;
        z-index: 71;
    }

    .UZBEKISTAN {
        position: absolute;
        top: 35%;
        left: 65%;
        z-index: 77;
    }


    .TURKMENISTAN {
        position: absolute;
        top: 36%;
        left: 64%;
        z-index: 77;
    }


    .GIBRALTAR {
        position: absolute;
        top: 33.5%;
        left: 46%;
        z-index: 70;
    }

    .MALTA {
        position: absolute;
        top: 33.3%;
        left: 50.8%;
        z-index: 71;
    }

    .MOROCCO {
        position: absolute;
        top: 37%;
        left: 45%;
        z-index: 72;
    }

    .TUNISIA {
        position: absolute;
        top: 34.8%;
        left: 50.3%;
        z-index: 73;
    }

    .CYPRUS {
        position: absolute;
        top: 35.6%;
        left: 57%;
        z-index: 74;
    }

    .LEBANON {
        position: absolute;
        top: 34.8%;
        left: 57.8%;
        z-index: 75;
    }

    .SYRIANARABREPUBLIC {
        position: absolute;
        top: 36%;
        left: 58.3%;
        z-index: 76;
    }

    .LIBYA {
        position: absolute;
        top: 38.3%;
        left: 52.3%;
        z-index: 75;
    }

    .EGYPT {
        position: absolute;
        top: 39%;
        left: 55.5%;
        z-index: 76;
    }


    .SUDAN {
        position: absolute;
        top: 45%;
        left: 55.7%;
        z-index: 77;
    }


    .ISRAEL {
        position: absolute;
        top: 36.8%;
        left: 57.3%;
        z-index: 77;
    }

    .JORDAN {
        position: absolute;
        top: 38%;
        left: 57.5%;
        z-index: 78;
    }

    .IRAQ {
        position: absolute;
        top: 37.2%;
        left: 59.6%;
        z-index: 79;
    }

    .KUWAIT {
        position: absolute;
        top: 39%;
        left: 60.5%;
        z-index: 78;
    }

    .IRAN {
        position: absolute;
        top: 39%;
        left: 62.5%;
        z-index: 79;
    }

    .UAE {
        position: absolute;
        top: 43%;
        left: 62%;
        z-index: 79;
    }

    .CABOVERDE {
        position: absolute;
        top: 44%;
        left: 42.8%;
        z-index: 79;
    }

    .MAURITANIA {
        position: absolute;
        top: 43.3%;
        left: 45%;
        z-index: 80;
    }


    .SENEGAL {
        position: absolute;
        top: 46%;
        left: 44%;
        z-index: 82;
    }

    .GUINEABISSAU {
        position: absolute;
        top: 47.5%;
        left: 44.1%;
        z-index: 83;
    }

    .GUINEA {
        position: absolute;
        top: 48%;
        left: 45%;
        z-index: 84;
    }


    .GHANA {
        position: absolute;
        top: 48.5%;
        left: 47.5%;
        z-index: 85;
    }

    .TOGO {
        position: absolute;
        top: 48.8%;
        left: 48.2%;
        z-index: 86;
    }


    .BENIN {
        position: absolute;
        top: 48.1%;
        left: 48.5%;
        z-index: 87;
    }


    .NIGERIA {
        position: absolute;
        top: 48%;
        left: 50%;
        z-index: 88;
    }

    .CAMEROON {
        position: absolute;
        top: 50%;
        left: 51%;
        z-index: 84;
    }

    .SAOTOMEPRINCIPE {
        position: absolute;
        top: 53%;
        left: 49%;
        z-index: 85;
    }

    .EQUATORIALGUINEA {
        position: absolute;
        top: 52.3%;
        left: 50.5%;
        z-index: 86;
    }

    .GABON {
        position: absolute;
        top: 53.8%;
        left: 50.8%;
        z-index: 86;
    }

    .DEMOCATRICREPUBLICOFCONGO{
        position: absolute;
        top: 55%;
        left: 54%;
        z-index: 87;
    }

    .REPUBLICOFCONGO {
        position: absolute;
        top: 54.3%;
        left: 51.8%;
        z-index: 86;
    }

    .ERITREA {
        position: absolute;
        top: 46.8%;
        left: 58%;
        z-index: 88;
    }

    .YEMEN {
        position: absolute;
        top: 46.8%;
        left: 60%;
        z-index: 89;
    }

    .OMAN {
        position: absolute;
        top: 45.8%;
        left: 62.5%;
        z-index: 90;
    }

    .KENYA {
        position: absolute;
        top: 54%;
        left: 57%;
        z-index: 88;
    }

    .UNITEDREPUBLICOFTANZANIA {
        position: absolute;
        top: 58.3%;
        left: 56.3%;
        z-index: 89;
    }

    .ANGOLA {
        position: absolute;
        top: 60%;
        left: 52%;
        z-index: 90;
    }

    .MOZAMBIQUE {
        position: absolute;
        top: 64%;
        left: 56%;
        z-index: 91;
    }

    .MADAGASCAR {
        position: absolute;
        top: 66%;
        left: 58%;
        z-index: 92;
    }

    .MAURITIUS {
        position: absolute;
        top: 66.5%;
        left: 60%;
        z-index: 93;
    }



    .PAKISTAN {
        position: absolute;
        top: 42%;
        left: 67%;
        z-index: 91;
    }

    .BURUNDI {
        position: absolute;
        top: 53.8%;
        left: 55.8%;
        z-index: 87;
    }

    .CHINA {
        position: absolute;
        top: 49%;
        left: 76%;
        z-index: 92;
    }

    .REPUBLICOFKOREA {
        position: absolute;
        top: 57.5%;
        left: 82.5%;
        z-index: 93;
    }

    .JAPAN {
        position: absolute;
        top: 63%;
        left: 86.5%;
        z-index: 94;
    }

    .INDIA {
        position: absolute;
        top: 49%;
        left: 68.5%;
        z-index: 95;
    }


    .SRILANKA {
        position: absolute;
        top: 56.3%;
        left: 68%;
        z-index: 96;
    }

    .THAILAND {
        position: absolute;
        top: 58.3%;
        left: 74.5%;
        z-index: 97;
    }


    .CAMBODIA {
        position: absolute;
        top: 60.8%;
        left: 75%;
        z-index: 98;
    }

    .VIETNAM {
        position: absolute;
        top: 62%;
        left: 76.3%;
        z-index: 97;
    }

    .PHILIPPINES {
        position: absolute;
        top: 70%;
        left: 81.5%;
        z-index: 98;
    }

    .PALAU {
        position: absolute;
        top: 70.5%;
        left: 83%;
        z-index: 99;
    }

    .SINGAPORE {
        position: absolute;
        top: 66%;
        left: 73.5%;
        z-index: 99;
    }

    .INDONESIA {
        position: absolute;
        top: 75.5%;
        left: 78.3%;
        z-index: 100;
    }

    .PAPUANEWGUINEA {
        position: absolute;
        top: 85%;
        left: 83%;
        z-index: 100;
    }

    .SOLOMONISLANDS {
        position: absolute;
        top: 93%;
        left: 84.5%;
        z-index: 103;
    }

    .AUSTRALIA {
        position: absolute;
        top: 89%;
        left: 78%;
        z-index: 102;
    }

    .NEWZEALAND {
        position: absolute;
        top: 108%;
        left: 82%;
        z-index: 103;
    }

    .FIJI {
        position: absolute;
        top: 100%;
        left: 87%;
        z-index: 104;
    }

    .MARSHALLISLANDS {
        position: absolute;
        top: 80%;
        left: 87%;
        z-index: 105;
    }


    .CABOTAGE {
        position: absolute;
        top: 108%;
        left: 3%;
        font-size: 4rem;
        z-index: 10;
    }

    .CABOTAGE h3 {
        font-size: 1rem;
        color: #87152a;
    }
    
    .bullet {
        animation: pulse 3s infinite ease-in-out;
    }

    .CABOTAGE h3 {
        display: inline;
    }






    .pin:hover > span {
        opacity: 1;
        z-index: 250;
    }


    @keyframes pulse {
        100% {
            opacity: 0;
            transform: 
            translate(-50%, -50%)
            scale(1.5);
        }
    }
